body {
  font-family: "PT Sans", sans-serif;
  font-family: "Varela Round", sans-serif;
}
h1,
ul {
  font-weight: 700;
  margin-left: 20px;
}
h1,
::placeholder {
  color: #225ed7;
}
ul {
  padding: 0;
}
li {
  color: #606470;
  font-weight: 100;
  height: 19px;
  line-height: 5px;
  list-style: none;
}
p {
  font-family: "Valera Round", sans-serif;
  color: #606470;
}
.weather-app {
  border: 1px solid #606470;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-logo,
.weather-today,
.wed-weather,
.thurs-weather,
.fri-weather {
  color: #f0d43a;
}
#search-button {
  display: block;
  margin: 0 auto;
}

#city {
  font-weight: bold;
}
#city,
#day-and-time,
.weather-summary {
  font-size: 24px;
  margin: 5px 0;
}
#temperature {
  color: #000;
  font-size: 30px;
}
#celsius,
#fahrenheit {
  font-size: 18px;
}
.weather-today {
  font-size: 24px;
  margin-left: 20px;
}
.weather-details {
  font-size: 18px;
  margin-left: 80px;
}
.days {
  text-align: center;
  font-size: 14px;
}
.mon-weather,
.tue-weather {
  color: #38598b;
}

.mon-weather,
.tue-weather,
.wed-weather,
.thurs-weather,
.fri-weather {
  border: 5px solid #225ed7;
  border-radius: 50px;
  padding: 25px 25px;
  margin: 10px 0;
}

.weather-today:hover {
  font-size: 32px;
  font-weight: bold;
}

.mon-weather:hover,
.tue-weather:hover,
.thurs-weather:hover,
.fri-weather:hover {
  font-size: 24px;
  font-weight: bold;
}

.wed-weather:hover {
  font-size: large;
  font-weight: bold;
  color: #3ebbf0;
}
#code-link {
  color: #606470;
  font-weight: 400;
  height: 19px;
  line-height: 5px;
  font-size: 18;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
